In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Creating a dataframe
data = pd.read_csv("Raw_sales_data.csv")
dataframe = pd.DataFrame(data)
dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04-07-19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
169222,259354,iPhone,1,700,09-01-19 16:00,"216 Dogwood St, San Francisco, CA 94016"
169223,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
169224,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
169225,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [3]:
# Quick Info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169226 entries, 0 to 169225
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          168726 non-null  object
 1   Product           168726 non-null  object
 2   Quantity Ordered  168726 non-null  object
 3   Price Each        168726 non-null  object
 4   Order Date        168726 non-null  object
 5   Purchase Address  168726 non-null  object
dtypes: object(6)
memory usage: 7.7+ MB

In [4]:
# Looking at some info metrics
dataframe.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,168726,168726,168726,168726,168726,168726
unique,161597,20,10,18,129227,130167
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,329,19845,152652,19845,329,329

In [5]:
# Looking at Data types
dataframe.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [6]:
# Checking null values
dataframe.isnull().sum()

Order ID            500
Product             500
Quantity Ordered    500
Price Each          500
Order Date          500
Purchase Address    500
dtype: int64

In [7]:
dataframe.isna().sum().sum()

3000

In [8]:
for col in dataframe.columns:
    pct_missing = dataframe[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Order ID - 0.3%
Product - 0.3%
Quantity Ordered - 0.3%
Price Each - 0.3%
Order Date - 0.3%
Purchase Address - 0.3%

In [9]:
# Dropping null values
dataframe = dataframe.dropna()

In [10]:
# Checking for duplicated values
dataframe.duplicated().sum()

563

In [11]:
# Removal of duplicated values
dataframe = dataframe.drop_duplicates()

In [12]:
# Checking for duplicated column names
id, date, address = 0,0,0
for i in range(0, len(dataframe)):
    check_id = dataframe['Order ID'].iloc[i]
    check_date = dataframe['Order Date'].iloc[i]
    check_add = dataframe['Purchase Address'].iloc[i]
    if check_id == 'Order ID':
        id += 1
    if check_date == 'Order Date':
        date += 1
    if check_add == 'Purchase Address':
        address += 1   
print("No of columns where column name is copied in the Order ID column:", id)
print("No of columns where column name is copied in the Order Date column:", date)
print("No of columns where column name is copied in the Purchase Address column:", address)

No of columns where column name is copied in the Order ID column: 1
No of columns where column name is copied in the Order Date column: 1
No of columns where column name is copied in the Purchase Address column: 1

In [13]:
# Removal of column names and its duplicates
dataframe = dataframe[dataframe['Order Date'] != 'Order Date']
dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04-07-19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04-12-19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
169222,259354,iPhone,1,700,09-01-19 16:00,"216 Dogwood St, San Francisco, CA 94016"
169223,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
169224,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
169225,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [14]:
# Recheck of column names as an entry in the dataset
id, date, address = 0,0,0
for i in range(0, len(dataframe)):
    check_id = dataframe['Order ID'].iloc[i]
    check_date = dataframe['Order Date'].iloc[i]
    check_add = dataframe['Purchase Address'].iloc[i]
    if check_id == 'Order ID':
        id += 1
    if check_date == 'Order Date':
        date += 1
    if check_add == 'Purchase Address':
        address += 1   
print("No of columns where column name is copied in the Order ID column:", id)
print("No of columns where column name is copied in the Order Date column:", date)
print("No of columns where column name is copied in the Purchase Address column:", address)

No of columns where column name is copied in the Order ID column: 0
No of columns where column name is copied in the Order Date column: 0
No of columns where column name is copied in the Purchase Address column: 0

In [16]:
# Changing data types to accurate types
dataframe['Order ID'] = pd.to_numeric(dataframe['Order ID'])
dataframe['Quantity Ordered'] = pd.to_numeric(dataframe['Quantity Ordered'])
dataframe['Price Each'] = pd.to_numeric(dataframe['Price Each'])
dataframe['Order Date'] = pd.to_datetime(dataframe['Order Date'], format='mixed')

dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001"
169222,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016"
169223,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016"
169224,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016"
169225,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016"

In [17]:
# Creating a column for sales of products
dataframe['Sales'] = (dataframe['Price Each'] * dataframe['Quantity Ordered']).round(2)

In [18]:
# Creating columns related to date-time
dataframe['Day'] = dataframe['Order Date'].dt.day
dataframe['Month'] = dataframe['Order Date'].dt.month
dataframe['Week Day'] = dataframe['Order Date'].dt.day_name()
dataframe['Hour'] = dataframe['Order Date'].dt.hour

dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Day,Month,Week Day,Hour
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,19,4,Friday,8
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,7,4,Sunday,22
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,12,4,Friday,14
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,12,4,Friday,14
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,30,4,Tuesday,9
...,...,...,...,...,...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",8.97,17,9,Tuesday,20
169222,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",700.00,1,9,Sunday,16
169223,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",700.00,23,9,Monday,7
169224,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",379.99,19,9,Thursday,17
169225,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",11.95,30,9,Monday,0

In [19]:
# Creating a column for time of the day
times_of_day = []
for i in dataframe['Hour']:
    if i>=5 and i <= 12 :
        times_of_day.append('Morning')
    elif i> 12 and i <= 18:
        times_of_day.append('Afternoon') 
    elif i> 18 and i <= 22:
        times_of_day.append('Evening')
    else:
        times_of_day.append('Night')
dataframe['Times of Day'] = times_of_day

dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Day,Month,Week Day,Hour,Times of Day
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,19,4,Friday,8,Morning
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,7,4,Sunday,22,Evening
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,12,4,Friday,14,Afternoon
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,12,4,Friday,14,Afternoon
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,30,4,Tuesday,9,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",8.97,17,9,Tuesday,20,Evening
169222,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",700.00,1,9,Sunday,16,Afternoon
169223,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",700.00,23,9,Monday,7,Morning
169224,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",379.99,19,9,Thursday,17,Afternoon
169225,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",11.95,30,9,Monday,0,Night

In [20]:
# Functions created to split address and get the city and state part of it
def get_city(address):
    return address.split(',')[1]

def get_state(address):
    return address.split(',')[2].split(' ')[1]

In [21]:
# Creating columns for city and state
dataframe['City'] = dataframe['Purchase Address'].apply(lambda x: get_city(x))
dataframe['State'] = dataframe['Purchase Address'].apply(lambda x: get_state(x))

dataframe

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales,Day,Month,Week Day,Hour,Times of Day,City,State
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,19,4,Friday,8,Morning,Dallas,TX
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,7,4,Sunday,22,Evening,Boston,MA
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,12,4,Friday,14,Afternoon,Los Angeles,CA
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,12,4,Friday,14,Afternoon,Los Angeles,CA
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,30,4,Tuesday,9,Morning,Los Angeles,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169221,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",8.97,17,9,Tuesday,20,Evening,Los Angeles,CA
169222,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",700.00,1,9,Sunday,16,Afternoon,San Francisco,CA
169223,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",700.00,23,9,Monday,7,Morning,San Francisco,CA
169224,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",379.99,19,9,Thursday,17,Afternoon,San Francisco,CA
169225,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",11.95,30,9,Monday,0,Night,San Francisco,CA

In [22]:
# Dropping Purchase Address and Order Date columns since they are processed
dataframe.drop(['Order Date', 'Purchase Address'], axis = 1, inplace= True)

In [24]:
#Check the Dimensions
shape=dataframe.shape
print('Number of Rows : ',shape[0])
print('Number of Columns : ',shape[1])

Number of Rows :  168162
Number of Columns :  12

In [25]:
# Saving the processed dataset
dataframe.to_csv("Processed_sales_data.csv", index = False)

In [ ]:
data = pd.read_csv("Processed_sales_data.csv")
dataframe = pd.DataFrame(data)
dataframe

In [ ]:
dataframe.describe()

In [ ]:
monthwise = dataframe.groupby('Month', as_index=True, group_keys=True).sum()
# monthwise.reset_index()
monthwise

In [ ]:
plt.figure()
plt.bar(range(1,13), monthwise["Sales"])

In [ ]:
from ydata_profiling import ProfileReport
profile = ProfileReport(dataframe)
profile